@import "reset.css";
.default-padding {
    width: 100%;
    padding: 0vw 15vw;
    box-sizing: border-box;
}

.navbar {
    background-color: cornflowerblue;
    height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    position: fixed;
}

.navbar .logo {
    background-color: gray;
    padding: 8px;
    /* height: 48px; */
}

.navbar ul {
    background-color: crimson;
    display: flex;
    flex-direction: row;
}

.navbar li {
    background-color: darkgray;
    height: 48px;
    padding: 0px 8px;
    margin: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    /* background-color: green; */
    height: 80vh;
    width: 100%;
    position: relative;
}

.hero>video {
    filter: brightness(50%);
    background-color: green;
    min-height: 400px;
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
}

.hero>div {
    bottom: 10vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero>div>h {
    color: white;
    font-size: 4.2em;
}

.hero>div>p {
    color: white;
    font-size: 1.4em;
}

.hero>div>button {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px rgba(255, 255, 255, 0.35) solid;
    border-radius: 8px;
    margin-top: 24px;
    padding: 8px;
    font-size: 1.4em;
}

.grid-content {
    padding: 48px 15vw;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
}

.grid-item1 {
    background-color: orange;
    grid-row-start: 1;
    grid-row-end: 3
}

.grid-item2 {
    background-color: teal;
}

.grid-item3 {
    background-color: teal;
}

.grid-item4 {
    background-color: teal;
}

.grid-item5 {
    background-color: teal;
}